

{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    ABOUT PAGE
{% endblock %}

{% block body_block %}
	<h1>{{ about_page }} PAGE</h1>

	<div class="jumbotron">
    {% if user.is_authenticated %}
	    <div>
	            <strong>This is the About Page.</strong><br/><br/>
	    </div>
    
	    <div>
	        <img src="{% static 'images/about.png' %}" alt="Rango about"/>
	    </div>
	{% else %}
		<strong>Outsider. You Cannot See or Edit or Do anyhting on this website. Please Log in.</strong>
	{% endif %}


	</div>
	<button class="btn btn-primary" onclick="alert('You clicked the button using JS.');"> Click me JS</button>

	<button class="btn btn-primary" id="about-btn"> Click me JS on speed</button>
	

	<p>This is example</p><br/>
	<p>This is example 2</p>

	<div id="msg">Hello - I'm here for a Jquery Example too</div>



{% endblock %}