

{% extends 'rango/base.html' %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
    <div>
    {% if category %}
        <h1>{{ category.name }} </h1> 
        <div>
        <strong id="like_count">{{ category.likes }}</strong>
        {% if user.is_authenticated %}
            <button class="btn btn-primary btn-sm" id="likes" data-catid="{{ category.id }}" type="button">Like the Category</button>
        {% endif %}
        </div>
        <div> Views : {{ category.views }}</div> <br/>
        {% if pages %}
        <ul>
            {% for pag in pages %} 
            <li><a href="{{ pag.url }}">{{pag.title}}</a></li>
        {% endfor %}
        </ul>
        {% else %}
        <strong> No pages currently in category</strong>
        {% endif %}
    {% else %}
        The specified category does not exist !
    {% endif %}
    </div>

    <div>
        <br>
        {% if category %}
        <li><a href="{% url 'rango:add_page' category.slug %}">ADD a PAGE</a></li>
        {% endif %}
    <br/>


{% endblock %}
