
{% extends 'rango/base.html' %}
{% load static %}


{% block title_block %}
    MAIN PAGE
{% endblock %}

{% block body_block %}

    <h1> MAIN PAGE</h1>
    {% if user.is_authenticated %}
    	<strong>This is the Main Page</strong><br/>  
	    <div>
	<!--         <a href='{% url "admin:index" %}'> Admin Page</a><br/><br/> -->
	        <img src="{% static 'images/main.jpg' %}" alt="Picture of Izmir"/>
	    </div>
	{% else %}
		<strong>Outsider. You Cannot See or Edit or Do anyhting on this website. Please Log in.</strong>

	{% endif %}

{% endblock %}